jieba==0.42.1
python-docx==1.2.0
python-pptx==1.0.2
pymupdf==1.26.6
pypandoc==1.13
pandas==2.3.3
openpyxl==3.1.5
Pillow==10.4.0
sentence-transformers==3.0.1
transformers==4.57.1
sentencepiece==0.2.1
PyYAML==6.0.2
numpy
pydantic
tqdm
pymilvus
timm
tiktoken
sentencepiece
torch
torchvision
torchaudio
protobuf
pymilvus